.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.list-item {
  padding: 0.5rem;
  border: 1px solid #616161;
  border-radius: 0.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-delete {
  padding: 0.5rem;
  border: 1px solid #ff3300;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-highlight {
  padding: 0.5rem;
  border: 1px solid #00ff00;
  border-radius: 0.5rem;
  cursor: pointer;
}
