.add-input {
  width: 28rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
}

.btn-add {
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #575757;
  border-radius: 0.3rem;
}
