.btn {
  padding: 0.5rem;
  color: #0fca0f;
  border: 1px solid #0fca0f;
  background-color: #fff;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.btn-all {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.btn-done {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
